body {
  font-family: sans-serif;
}

main {
  padding-left: 75px;
  padding-right: 75px;
}

ul {
  padding-left: 0;
  display: block;
  max-height: 250px;
}

li {
  display: inline-block;
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;
  max-height: 250px;
  border-radius: 8px;
  margin-bottom: 20px;
}
span {
  padding-left: 5px;
}

h3 {
  padding-left: 20px;
}

h5 {
  padding-left: 20px;
  margin-bottom: 5px;
}

select {
  margin-left: 20px;
}

#whiteTitle {
  color: white;
  background-color: black;
  padding: 15px;
  padding-left: 105px;
}

.contentContainer {
  background-color: whitesmoke;
  vertical-align: top;
  margin-left: 30px;
}

#innerContentCont {
  margin-left: 15px;
  height: 60px;
}

.balance {
  margin-left: 85px;
}

#debt {
  margin-left: 109px;
}

.debtInfo {
  display: none;
}

#bankButton,
#workButton {
  margin-top: 65px;
  height: 45px;
  width: 95px;
  margin-left: 20px;
  border: solid grey 1px;
  border-radius: 8px;
}

#bankButton {
  background-color: yellow;
  margin-top: 25px;
}

#bankButton:hover {
  background-color: khaki;
}

#workButton {
  background-color: royalblue;
  color: white;
  margin-left: 15px;
  margin-top: 25px;
}

#workButton:hover {
  background-color: cadetblue;
}

#loanButton {
  margin-left: 20px;
  margin-top: 25px;
  height: 45px;
  width: 210px;
  border-radius: 8px;
  border: solid grey 1px;
  background-color: springgreen;
}

#loanButton:hover {
  background-color: darkseagreen;
}

#payLoanButton {
  margin-top: 10px;
  height: 45px;
  width: 210px;
  margin-left: 20px;
  border: solid grey 1px;
  border-radius: 8px;
  background-color: rgba(235, 213, 94, 0.637);
}

#payLoanButton:hover {
  background-color: rgba(148, 135, 63, 0.637);
}

#laptopDisplayContainer {
  background-color: whitesmoke;
  max-width: 820px;
  width: 820px;
  height: 235px;
  max-height: 240px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
  box-shadow: 0px 0px 15px -5px #000000;
  display: inline-block;
}

#computerImage {
  width: 285px;
  height: 210px;
  margin: 15px;
  vertical-align: top;
  border-radius: 8px;
}

#nameAndInfoCont {
  margin-top: 30px;
  margin-left: 20px;
  max-width: 250px;
  display: inline-block;
}

p {
  margin: 0px;
}

#specs {
  padding-left: 20px;
  font-size: small;
}

#laptopName {
  padding: 0;
}

#priceAndBuyButton {
  text-align: center;
  float: right;
  margin-top: 30px;
  padding-right: 50px;
  width: 150px;
}

#computers {
  height: 25px;
}

#purchaseButton {
  margin-left: 20px;
  margin-top: 5px;
  width: 150px;
  height: 35px;
  border: 1px solid grey; 
  border-radius: 8px;
  background-color: aqua;
}

#purchaseButton:hover {
  background-color: turquoise;
}

#bankContainer {
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
  box-shadow: 0px 0px 15px -5px #000000;
}

#workContainer {
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
  box-shadow: 0px 0px 15px -5px #000000;
}

#laptopSelectionContainer {
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
  box-shadow: 0px 0px 15px -5px #000000;
}